/* ----Module------ */

.module {
  margin: 0 4%;
  padding-top: 4.3%;
  width: 92%;
  display: flex;
  flex-direction: column;
}

/* ----Section------ */

.section {
  text-align: center;
  margin-top: 2%;
}

/* ---SectionHead--- */

.head-symbol {
  margin-bottom: 20px;
}

.head-symbol > h5 {
  margin: 0;
  font-size: 2vw;
  color: rgb(154, 153, 255);
}

.head-div {
  margin-bottom: 20px;
}

.head-container {
  padding: 0 32% 3%;
}

.head-container-no-padding {
  padding-bottom: 0;
}

h2.head-title {
  font-size: 7vw;
  color: white;
  margin: 0 0 20px;
  display: block;
  line-height: 0.8em;
}

p.head-intro {
  margin: 0;
  color: rgb(230, 219, 116);
  font-size: 1.29vw;

}

/* ----Button---- */

.button > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #2fcbef;
  padding: 20px 40px;
}

.button > a:hover{
  background-color: #9a99ff;
  transition: all .2s linear;
}


/* --AnimatedHeading-- */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heading-content {
  color: #e6db74;
  font-size: 8vw;
  line-height: 0.8em;
  background: none;
}

.heading-cursor {
  color: #e6db74;
  font-size: 8vw;
  line-height: 0.8em;
  animation: blink 0.8s infinite;
  background: none;
}

.heading-braces {
  color: white;
  font-size: 8vw;
  line-height: 0.8em;
  background: none;
}


/* --ExperieneRow-- */
.data-row {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  height: 19vh;
  overflow: hidden;
  display: flex;
}

.data-col-1 {
  width: 50%;
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.data-sideheading{
  color: white;
  margin-left: 70px;
  font-size: 1.29vw;
}

.data-mainheading{
  margin-right: 20px;
}

.data-col-2 {
  text-align: left;
  width: 50%;
  padding: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.data-col2-title {
  color: white;
  font-size: 1.29vw;
}

.data-description{
  color: rgb(230, 219, 116);
  font-size: 1.29vw;
  margin-top: 20px;
  margin-right: 50px;
}

/* --Skill-- */

.skill-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-between;
}

.skill-col > div {
  text-align: left;
  margin: 0;
}

.skill-col > .title{
  color: white;
  text-align: left;
  font-size: 2.6vw;
}

.skill-col > .description{
  color: rgb(230, 219, 116);
  font-size: 1.29vw;
}

.skill-row {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  height: 29vh;
  margin: 0 22px;
  overflow: hidden;
  display: flex;
}

.skill-row > hr {
    margin: 0px;
    color:rgba(255, 255, 255, 0.12);
}