.content-page {
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
}

.about-module {
  padding-top: 8%;
  padding-bottom: 4%;
}

.normal-module {
  padding: 4% 0%;
}