
.services{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.services > div {
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-image: linear-gradient(90deg, #212121 0%, #292929 100%);
}

.services > :nth-child(1):hover{
    background-image: none;
    background-color: #e6db74;
}
.services > :nth-child(2):hover{
    background-image: none;
    background-color: #2fcbef;
}
.services > :nth-child(3):hover{
    background-image: none;
    background-color: #e6db74;
}